
discord\.log

venv/pip-selfcheck\.json

venv/lib/python3\.6/site-packages/idna/

venv/bin/

venv/lib/python3\.6/site-packages/aiohttp-1\.0\.5-py3\.6\.egg-info/

token_babo\.py

venv/lib/python3\.6/site-packages/aiohttp/

venv/lib/python3\.6/site-packages/async_timeout-3\.0\.0\.dist-info/

venv/lib/python3\.6/site-packages/async_timeout/

venv/lib/python3\.6/site-packages/chardet-3\.0\.4\.dist-info/

venv/lib/python3\.6/site-packages/chardet/

venv/lib/python3\.6/site-packages/discord\.py-0\.16\.12-py3\.6\.egg-info/

venv/lib/python3\.6/site-packages/discord/

venv/lib/python3\.6/site-packages/discord_rewrite-1\.0\.0-py3\.6\.egg-info/

venv/lib/python3\.6/site-packages/

venv/

\.idea/

__pycache__/

text_log\.txt

Turkey\.mp3

token_babo\.py
